@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #111;
  /* overflow: hidden; */
}
.bg-yellow {
  position: absolute;
  background-color: #ffb400;
  clip-path: polygon(0 0, 12.1% 0, 25.4% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
}
.row {
  place-items: center;
}
#profile-image {
  margin: 40px;
  z-index: 11;
  height: calc(100vh - 80px);
  background-position: center;
  background-image: url(profile-image3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
  width: 33%;
  position: relative;
  border-radius: 30px;
}
#profile-image img {
  display: none;
}
#profile-image::before {
  position: absolute;
  border-radius: 30px;
  opacity: 0.4;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
#about {
  color: #fff;
  /* margin-left: 10px; */
}
#about h1 {
  text-align: center;
  font-size: 42px;
  position: relative;
  font-weight: 700;
}
#about h1::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 10px;
  background: #ffb400;
  width: 6%;
  height: 5px;
  border-radius: 20px;
}
#about h1 span {
  color: #ffb400;
}
#about p {
  margin: 55px 10px;
  font-size: 20px;
}
button {
  border: 1px solid #ffb400;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.7s;
  position: relative;
  z-index: 5;
  margin-left: 10px;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffb400;
  width: 26%;
  height: 100%;
  border-radius: 30px;
  transition: 0.5s;
  z-index: -1;
}
button:hover::after {
  width: 100%;
}
button a {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
button a:hover {
  color: #fff;
}
button i {
  padding: 10px 25px;
  padding-top: 15px;
  border-radius: 30px;
  font-size: 25px;
}

#icons {
  color: #fff;
  width: fit-content;
}
#icons ul li {
  position: relative;
  text-align: right;
  /* padding: 0 5px; */
  margin: 30px auto;
  cursor: pointer;
  /* margin-right: 0; */
}
#icons ul li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 20px;
  background-color: #ffb400;
  width: 0;
  transition: 0.5s;
  z-index: -1;
}
#icons ul li:hover::after {
  width: 100%;
}
#icons ul li a span {
  font-size: 20px;
  opacity: 0;
  transition: 0.3s;
}
#icons ul li:hover a span {
  opacity: 1;
}
#icons ul li a i {
  font-size: 15px;
  padding: 20px;
  margin-left: 20px;
  border-radius: 50%;
  transition: 0.5s;
}
#icons ul li:hover a i {
  background-color: #ffb400;
}
#portfolio-icon,
#contact-icon,
#home-icon {
  background-color: #222222;
}
#about-icon {
  background-color: #ffb400;
}

@media (max-width: 968px) {
  .bg-yellow {
    display: none;
  }
  #profile-image {
    border-radius: 50%;
    width: 50%;
    height: 30vh;
    margin: 50px auto;
    box-shadow: none;
    background: none;
  }
  #profile-image::before {
    background: none;
  }
  #profile-image img {
    display: block;
    border-radius: 50%;
    height: 220px;
    margin: auto;
  }
  #about {
    text-align: center;
  }
  #about h1 {
    font-size: 30px;
  }
  #about h1::before {
    background: none;
  }
  #about p {
    text-align: left;
    width: fit-content;
    margin: 20px auto;
    font-size: 15px;
  }
  button {
    margin: 30px auto;
  }
  #icons {
    width: 100%;
    display: block;
    height: 10%;
    background-color: rgb(48, 48, 48);
  }
  #icons ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  #icons ul li {
    margin: 10px auto;
  }
  #icons ul li a span {
    display: none;
  }
}
